:root{
	--black: #000;
	--black-hover: rgb(49, 46, 46);
	--white:  #fff;
	--header: rgb(30, 30, 30);
	--color-bg: whitesmoke;
	--black-2: #201f1f;
	--gray-hover: rgb(225, 216, 216);
	--favorite: rgb(189, 9, 39);

}
